footer.footer.py-4
    .container-fluid
        .row.align-items-center.justify-content-lg-between
            .col-lg-6.mb-lg-0.mb-4
                .copyright.text-center.text-sm.text-muted.text-lg-start
                    | ©

                    script.

                        document.write(new Date().getFullYear())

                    | ,made with 
                    i.fa.fa-heart
                    |  by

                    a.font-weight-bold(href="https://www.creative-tim.com" target="_blank") Creative Tim
                    |  for a better web.

            .col-lg-6
                ul.nav.nav-footer.justify-content-center.justify-content-lg-end
                    li.nav-item
                        a.nav-link.text-muted(href="https://www.creative-tim.com" target="_blank") Creative Tim
                    li.nav-item
                        a.nav-link.text-muted(href="https://www.creative-tim.com/presentation" target="_blank") About Us
                    li.nav-item
                        a.nav-link.text-muted(href="https://www.creative-tim.com/blog" target="_blank") Blog
                    li.nav-item
                        a.nav-link.pe-0.text-muted(href="https://www.creative-tim.com/license" target="_blank") License