nav.navbar.navbar-main.navbar-expand-lg.px-0.mx-4.shadow-none.border-radius-xl#navbarBlur(data-scroll="true")
    .container-fluid.py-1.px-3
        nav(aria-label="breadcrumb")
            //- ol.breadcrumb.bg-transparent.mb-0.pb-0.pt-1.px-0.me-sm-6.me-5
                li.breadcrumb-item.text-sm
                    a.opacity-5.text-dark(href="javascript:;") Pages
                li.breadcrumb-item.text-sm.text-dark.active(aria-current="page") Dashboard
            h6.font-weight-bolder.mb-0 Dashboard
        .collapse.navbar-collapse.mt-sm-0.mt-2.me-md-0.me-sm-4#navbar
            .ms-md-auto.pe-md-3.d-flex.align-items-center
                .input-group.input-group-outline
                    label.form-label Type here...
                    input.form-control(type="text")
            ul.navbar-nav.justify-content-end
                //- li.nav-item.d-flex.align-items-center
                    a.btn.btn-outline-primary.btn-sm.mb-0.me-3(target="_blank" href="https://www.creative-tim.com/builder?ref=navbar-material-dashboard") Online Builder
                li.mt-2
                    a.github-button(href="https://github.com/johnmwanyika/sitechecker" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star johnmwanyika/sitechecker on GitHub") Star
                li.nav-item.d-xl-none.ps-3.d-flex.align-items-center
                    a.nav-link.text-body.p-0#iconNavbarSidenav(href="javascript:;")
                        .sidenav-toggler-inner
                            i.sidenav-toggler-line
                            i.sidenav-toggler-line
                            i.sidenav-toggler-line
                li.nav-item.px-3.d-flex.align-items-center
                    a.nav-link.text-body.p-0(href="javascript:;")
                        i.fa.fa-cog.fixed-plugin-button-nav.cursor-pointer
                li.nav-item.dropdown.pe-2.d-flex.align-items-center
                    a.nav-link.text-body.p-0#dropdownMenuButton(href="javascript:;" data-bs-toggle="dropdown" aria-expanded="false")
                        i.fa.fa-bell.cursor-pointer
                    ul.dropdown-menu.dropdown-menu-end.px-2.py-3.me-sm-n4(aria-labelledby="dropdownMenuButton")
                        li.mb-2
                            a.dropdown-item.border-radius-md(href="javascript:;")
                                .d-flex.py-1
                                    .my-auto
                                        img.avatar.avatar-sm.me-3(src="../assets/img/team-2.jpg")
                                    .d-flex.flex-column.justify-content-center
                                        h6.text-sm.font-weight-normal.mb-1
                                            span.font-weight-bold New message
                                            |  from Laur

                                        p.text-xs.text-secondary.mb-0
                                            i.fa.fa-clock.me-1
                                            |  13 minutes ago

                        li.mb-2
                            a.dropdown-item.border-radius-md(href="javascript:;")
                                .d-flex.py-1
                                    .my-auto
                                        img.avatar.avatar-sm.bg-gradient-dark.me-3(src="../assets/img/small-logos/logo-spotify.svg")
                                    .d-flex.flex-column.justify-content-center
                                        h6.text-sm.font-weight-normal.mb-1
                                            span.font-weight-bold New album
                                            |  by Travis Scott

                                        p.text-xs.text-secondary.mb-0
                                            i.fa.fa-clock.me-1
                                            |  1 day

                        li
                            a.dropdown-item.border-radius-md(href="javascript:;")
                                .d-flex.py-1
                                    .avatar.avatar-sm.bg-gradient-secondary.me-3.my-auto
                                        svg(width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink")
                                            title credit-card
                                            g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                                                g(transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero")
                                                    g(transform="translate(1716.000000, 291.000000)")
                                                        g(transform="translate(453.000000, 454.000000)")
                                                            path.color-background(d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743")
                                                            path.color-background(d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z")
                                    .d-flex.flex-column.justify-content-center
                                        h6.text-sm.font-weight-normal.mb-1.

                                            Payment successfully completed

                                        p.text-xs.text-secondary.mb-0
                                            i.fa.fa-clock.me-1
                                            |  2 days

                li.nav-item.d-flex.align-items-center
                    a.nav-link.text-body.font-weight-bold.px-0(href="/sign-in")
                        i.fa.fa-user.me-sm-1
                        span.d-sm-inline.d-none Sign In