.fixed-plugin
    a.fixed-plugin-button.text-dark.position-fixed.px-3.py-2
        i.material-icons.py-2 settings
    .card.shadow-lg
        .card-header.pb-0.pt-3
            .float-start
                h5.mt-3.mb-0 Configurator
                p Dashboard options.
            .float-end.mt-4
                button.btn.btn-link.text-dark.p-0.fixed-plugin-close-button
                    i.material-icons clear
            //  End Toggle Button 
        hr.horizontal.dark.my-1
        .card-body.pt-sm-3.pt-0
            //  Sidebar Backgrounds 
            div
                h6.mb-0 Sidebar Colors
            a.switch-trigger.background-color(href="javascript:void(0)")
                .badge-colors.my-2.text-start
                    span.badge.filter.bg-gradient-primary.active(data-color="primary" onclick="sidebarColor(this)")
                    span.badge.filter.bg-gradient-dark(data-color="dark" onclick="sidebarColor(this)")
                    span.badge.filter.bg-gradient-info(data-color="info" onclick="sidebarColor(this)")
                    span.badge.filter.bg-gradient-success(data-color="success" onclick="sidebarColor(this)")
                    span.badge.filter.bg-gradient-warning(data-color="warning" onclick="sidebarColor(this)")
                    span.badge.filter.bg-gradient-danger(data-color="danger" onclick="sidebarColor(this)")
            //  Sidenav Type 
            .mt-3
                h6.mb-0 Sidenav Type
                p.text-sm Choose between 2 different sidenav types.
            .d-flex
                button.btn.bg-gradient-dark.px-3.mb-2.active(data-class="bg-gradient-dark" onclick="sidebarType(this)") Dark
                button.btn.bg-gradient-dark.px-3.mb-2.ms-2(data-class="bg-transparent" onclick="sidebarType(this)") Transparent
                button.btn.bg-gradient-dark.px-3.mb-2.ms-2(data-class="bg-white" onclick="sidebarType(this)") White
            p.text-sm.d-xl-none.d-block.mt-2 You can change the sidenav type just on desktop view.
            //  Navbar Fixed 
            .mt-3.d-flex
                h6.mb-0 Navbar Fixed
                .form-check.form-switch.ps-0.ms-auto.my-auto
                    input.form-check-input.mt-1.ms-auto#navbarFixed(type="checkbox" onclick="navbarFixed(this)")
            hr.horizontal.dark.my-3
            .mt-2.d-flex
                h6.mb-0 Light / Dark
                .form-check.form-switch.ps-0.ms-auto.my-auto
                    input.form-check-input.mt-1.ms-auto#dark-version(type="checkbox" onclick="darkMode(this)")
            hr.horizontal.dark.my-sm-4
            //- a.btn.bg-gradient-info.w-100(href="https://www.creative-tim.com/product/material-dashboard-pro") Free Download
            //- a.btn.btn-outline-dark.w-100(href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-dashboard") View documentation
            //- .w-100.text-center
            //-     a.github-button(href="https://github.com/creativetimofficial/material-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/material-dashboard on GitHub") Star
            //-     h6.mt-3 Thank you for sharing!
            //-     a.btn.btn-dark.mb-0.me-2(href="https://twitter.com/intent/tweet?text=Check%20Material%20UI%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fsoft-ui-dashboard" target="_blank")
            //-         i.fab.fa-twitter.me-1(aria-hidden="true")
            //-         |  Tweet

            //-     a.btn.btn-dark.mb-0.me-2(href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/material-dashboard" target="_blank")
            //-         i.fab.fa-facebook-square.me-1(aria-hidden="true")
            //-         |  Share
