aside.sidenav.navbar.navbar-vertical.navbar-expand-xs.border-0.border-radius-xl.my-3.fixed-start.ms-3.bg-gradient-dark#sidenav-main
    .sidenav-header
        i.fas.fa-times.p-3.cursor-pointer.text-white.opacity-5.position-absolute.end-0.top-0.d-none.d-xl-none#iconSidenav(aria-hidden="true")
        a.navbar-brand.m-0(href="https://demos.creative-tim.com/material-dashboard/pages/dashboard" target="_blank")
            img.navbar-brand-img.h-100(src="../assets/img/logo-ct.png" alt="main_logo")
            span.ms-1.font-weight-bold.text-white Material Dashboard 2
    hr.horizontal.light.mt-0.mb-2
    .collapse.navbar-collapse.w-auto#sidenav-collapse-main
        ul.navbar-nav
            li.nav-item
                a.nav-link.text-white.active.bg-gradient-primary(href="/dashboard")
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 dashboard
                    span.nav-link-text.ms-1 Dashboard
            li.nav-item
                a.nav-link.text-white(href="/dashboard/sites")
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 table_view
                    span.nav-link-text.ms-1 Sites
            li.nav-item
                a.nav-link.text-white(href="../pages/billing.html")
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 receipt_long
                    span.nav-link-text.ms-1 Billing
            li.nav-item
                a.nav-link.text-white(href="../pages/virtual-reality.html")
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 view_in_ar
                    span.nav-link-text.ms-1 Virtual Reality
            li.nav-item
                a.nav-link.text-white(href="../pages/rtl.html")
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 format_textdirection_r_to_l
                    span.nav-link-text.ms-1 RTL
            li.nav-item
                a.nav-link.text-white(href="../pages/notifications.html")
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 notifications
                    span.nav-link-text.ms-1 Notifications
            li.nav-item.mt-3
                h6.ps-4.ms-2.text-uppercase.text-xs.text-white.font-weight-bolder.opacity-8 Account pages
            li.nav-item
                a.nav-link.text-white(href="../pages/profile.html")
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 person
                    span.nav-link-text.ms-1 Profile
            li.nav-item
                a.nav-link.text-white(href="../pages/sign-in.html")
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 login
                    span.nav-link-text.ms-1 Sign In
            li.nav-item
                a.nav-link.text-white(href="../pages/sign-up.html")
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 assignment
                    span.nav-link-text.ms-1 Sign Up
    .sidenav-footer.position-absolute.w-100.bottom-0
        .mx-3
            a.btn.btn-outline-primary.mt-4.w-100(href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-dashboard?ref=sidebarfree" type="button") Documentation
            a.btn.bg-gradient-primary.w-100(href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree" type="button") Upgrade to pro