aside.sidenav.navbar.navbar-vertical.navbar-expand-xs.border-0.border-radius-xl.my-3.fixed-start.ms-3.bg-gradient-dark#sidenav-main
    .sidenav-header
        i.fas.fa-times.p-3.cursor-pointer.text-white.opacity-5.position-absolute.end-0.top-0.d-none.d-xl-none#iconSidenav(aria-hidden="true")
        a.navbar-brand.m-0(href="/dashboard")
            img.navbar-brand-img.h-100(src="../assets/img/favicon.png" alt="main_logo")
            span.ms-1.font-weight-bold.text-white WebWatch
    hr.horizontal.light.mt-0.mb-2
    .collapse.navbar-collapse.w-auto#sidenav-collapse-main
        ul.navbar-nav
            li.nav-item
                a.nav-link.text-white(href="/dashboard" class=(activePage === '/dashboard' ? 'active bg-gradient-primary' : ''))
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 dashboard
                    span.nav-link-text.ms-1 Dashboard
            li.nav-item
                a.nav-link.text-white(href="/dashboard/sites" class=(activePage === '/dashboard/sites' ? 'active bg-gradient-primary' : ''))
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 table_view
                    span.nav-link-text.ms-1 My Sites
            li.nav-item
                a.nav-link.text-white(href="/dashboard/teams" class=(activePage === '/dashboard/teams' ? 'active bg-gradient-primary' : ''))
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 groups
                    span.nav-link-text.ms-1 Teams
            
            li.nav-item.mt-3
                h6.ps-4.ms-2.text-uppercase.text-xs.text-white.font-weight-bolder.opacity-8 Members
            li.nav-item
                a.nav-link.text-white(href="/dashboard/members" class=(activePage === '/dashboard/members' ? 'active bg-gradient-primary' : ''))
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 manage_accounts
                    span.nav-link-text.ms-1 All members
            li.nav-item
                a.nav-link.text-white(href="/dashboard/members/new" class=(activePage === '/dashboard/members/new' ? 'active bg-gradient-primary' : ''))
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 person_add
                    span.nav-link-text.ms-1 Add member
            if (user.Role.name == 'Super Admin')
                li.nav-item.mt-3
                    h6.ps-4.ms-2.text-uppercase.text-xs.text-white.font-weight-bolder.opacity-8 User Management
                li.nav-item
                    a.nav-link.text-white(href="/dashboard/users" class=(activePage === '/dashboard/users' ? 'active bg-gradient-primary' : ''))
                        .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                            i.material-icons.opacity-10 manage_accounts
                        span.nav-link-text.ms-1 Users
            //- li.nav-item
                a.nav-link.text-white(href="/dashboard/users/add")
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 person_add
                    span.nav-link-text.ms-1 Add user
            //- li.nav-item
                a.nav-link.text-white(href="../pages/notifications.html")
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 notifications
                    span.nav-link-text.ms-1 Notifications
            li.nav-item.mt-3
                h6.ps-4.ms-2.text-uppercase.text-xs.text-white.font-weight-bolder.opacity-8 Account pages
            li.nav-item
                a.nav-link.text-white(href="/dashboard/profile" class=(activePage === '/dashboard/profile' ? 'active bg-gradient-primary' : ''))
                    .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                        i.material-icons.opacity-10 person
                    span.nav-link-text.ms-1 Profile
    //- .sidenav-footer.position-absolute.w-100.bottom-0
        //- .mx-3
            a.btn.btn-outline-primary.mt-4.w-100(href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-dashboard?ref=sidebarfree" type="button") Documentation
            a.btn.bg-gradient-primary.w-100(href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree" type="button") Upgrade to pro