nav.navbar.navbar-expand-lg.blur.border-radius-lg.top-0.z-index-3.shadow.position-absolute.mt-4.py-2.start-0.end-0.mx-4
    .container-fluid.ps-2.pe-0
        a.navbar-brand.font-weight-bolder.ms-lg-0.ms-3(href="../pages/dashboard.html").
            Material Dashboard 2

        button.navbar-toggler.shadow-none.ms-2(type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon.mt-2
                span.navbar-toggler-bar.bar1
                span.navbar-toggler-bar.bar2
                span.navbar-toggler-bar.bar3
        .collapse.navbar-collapse#navigation
            ul.navbar-nav.mx-auto
                li.nav-item
                    a.nav-link.d-flex.align-items-center.me-2.active(aria-current="page" href="../pages/dashboard.html")
                        i.fa.fa-chart-pie.opacity-6.text-dark.me-1
                        |  Dashboard

                li.nav-item
                    a.nav-link.me-2(href="../pages/profile.html")
                        i.fa.fa-user.opacity-6.text-dark.me-1
                        |  Profile

                li.nav-item
                    a.nav-link.me-2(href="../pages/sign-up.html")
                        i.fas.fa-user-circle.opacity-6.text-dark.me-1
                        |  Sign Up

                li.nav-item
                    a.nav-link.me-2(href="../pages/sign-in.html")
                        i.fas.fa-key.opacity-6.text-dark.me-1
                        |  Sign In

            ul.navbar-nav.d-lg-flex.d-none
                li.nav-item.d-flex.align-items-center
                    a.btn.btn-outline-primary.btn-sm.mb-0.me-2(target="_blank" href="https://www.creative-tim.com/builder?ref=navbar-material-dashboard") Online Builder
                li.nav-item
                    a.btn.btn-sm.mb-0.me-1.bg-gradient-dark(href="https://www.creative-tim.com/product/material-dashboard") Free download