extends dashLayout.pug
block content

    .row
        .col-md-7.mt-4
            .card
                .card-header.pb-0.px-3
                    h6.mb-0 Billing Information (#{id})
                .card-body.pt-4.p-3
                    ul.list-group
                        li.list-group-item.border-0.d-flex.p-4.mb-2.bg-gray-100.border-radius-lg
                            .d-flex.flex-column
                                h6.mb-3.text-sm Oliver Liam
                                span.mb-2.text-xs
                                    | Company Name: 
                                    span.text-dark.font-weight-bold.ms-sm-2 Viking Burrito
                                span.mb-2.text-xs
                                    | Email Address: 
                                    span.text-dark.ms-sm-2.font-weight-bold
                                        a.__cf_email__(href="https://demos.creative-tim.com/cdn-cgi/l/email-protection" data-cfemail="b3dcdfdac5d6c1f3d1c6c1c1dac7dc9dd0dcde") [email protected]
                                span.text-xs
                                    | VAT Number: 
                                    span.text-dark.ms-sm-2.font-weight-bold FRB1235476
                            .ms-auto.text-end
                                a.btn.btn-link.text-danger.text-gradient.px-3.mb-0(href="javascript:;")
                                    i.material-icons.text-sm.me-2 delete
                                    | Delete
                                a.btn.btn-link.text-dark.px-3.mb-0(href="javascript:;")
                                    i.material-icons.text-sm.me-2 edit
                                    | Edit
                        li.list-group-item.border-0.d-flex.p-4.mb-2.mt-3.bg-gray-100.border-radius-lg
                            .d-flex.flex-column
                                h6.mb-3.text-sm Lucas Harper
                                span.mb-2.text-xs
                                    | Company Name: 
                                    span.text-dark.font-weight-bold.ms-sm-2 Stone Tech Zone
                                span.mb-2.text-xs
                                    | Email Address: 
                                    span.text-dark.ms-sm-2.font-weight-bold
                                        a.__cf_email__(href="https://demos.creative-tim.com/cdn-cgi/l/email-protection" data-cfemail="58342d3b392b182b2c37363d752c3d3b30763b3735") [email protected]
                                span.text-xs
                                    | VAT Number: 
                                    span.text-dark.ms-sm-2.font-weight-bold FRB1235476
                            .ms-auto.text-end
                                a.btn.btn-link.text-danger.text-gradient.px-3.mb-0(href="javascript:;")
                                    i.material-icons.text-sm.me-2 delete
                                    | Delete
                                a.btn.btn-link.text-dark.px-3.mb-0(href="javascript:;")
                                    i.material-icons.text-sm.me-2 edit
                                    | Edit
                        li.list-group-item.border-0.d-flex.p-4.mb-2.mt-3.bg-gray-100.border-radius-lg
                            .d-flex.flex-column
                                h6.mb-3.text-sm Ethan James
                                span.mb-2.text-xs
                                    | Company Name: 
                                    span.text-dark.font-weight-bold.ms-sm-2 Fiber Notion
                                span.mb-2.text-xs
                                    | Email Address: 
                                    span.text-dark.ms-sm-2.font-weight-bold
                                        a.__cf_email__(href="https://demos.creative-tim.com/cdn-cgi/l/email-protection" data-cfemail="cca9b8a4ada28caaa5aea9bee2afa3a1") [email protected]
                                span.text-xs
                                    | VAT Number: 
                                    span.text-dark.ms-sm-2.font-weight-bold FRB1235476
                            .ms-auto.text-end
                                a.btn.btn-link.text-danger.text-gradient.px-3.mb-0(href="javascript:;")
                                    i.material-icons.text-sm.me-2 delete
                                    | Delete
                                a.btn.btn-link.text-dark.px-3.mb-0(href="javascript:;")
                                    i.material-icons.text-sm.me-2 edit
                                    | Edit
        .col-md-5.mt-4
            .card.h-100.mb-4
                .card-header.pb-0.px-3
                    .row
                        .col-md-6
                            h6.mb-0 Your Transaction's
                        .col-md-6.d-flex.justify-content-start.justify-content-md-end.align-items-center
                            i.material-icons.me-2.text-lg date_range
                            |  
                            small 23 - 30 March 2020
                .card-body.pt-4.p-3
                    h6.text-uppercase.text-body.text-xs.font-weight-bolder.mb-3 Newest
                    ul.list-group
                        li.list-group-item.border-0.d-flex.justify-content-between.ps-0.mb-2.border-radius-lg
                            .d-flex.align-items-center
                                button.btn.btn-icon-only.btn-rounded.btn-outline-danger.mb-0.me-3.p-3.btn-sm.d-flex.align-items-center.justify-content-center
                                    i.material-icons.text-lg expand_more
                                .d-flex.flex-column
                                    h6.mb-1.text-dark.text-sm Netflix
                                    span.text-xs 27 March 2020, at 12:30 PM
                            .d-flex.align-items-center.text-danger.text-gradient.text-sm.font-weight-bold.
                                - $ 2,500

                        li.list-group-item.border-0.d-flex.justify-content-between.ps-0.mb-2.border-radius-lg
                            .d-flex.align-items-center
                                button.btn.btn-icon-only.btn-rounded.btn-outline-success.mb-0.me-3.p-3.btn-sm.d-flex.align-items-center.justify-content-center
                                    i.material-icons.text-lg expand_less
                                .d-flex.flex-column
                                    h6.mb-1.text-dark.text-sm Apple
                                    span.text-xs 27 March 2020, at 04:30 AM
                            .d-flex.align-items-center.text-success.text-gradient.text-sm.font-weight-bold.
                                + $ 2,000

                    h6.text-uppercase.text-body.text-xs.font-weight-bolder.my-3 Yesterday
                    ul.list-group
                        li.list-group-item.border-0.d-flex.justify-content-between.ps-0.mb-2.border-radius-lg
                            .d-flex.align-items-center
                                button.btn.btn-icon-only.btn-rounded.btn-outline-success.mb-0.me-3.p-3.btn-sm.d-flex.align-items-center.justify-content-center
                                    i.material-icons.text-lg expand_less
                                .d-flex.flex-column
                                    h6.mb-1.text-dark.text-sm Stripe
                                    span.text-xs 26 March 2020, at 13:45 PM
                            .d-flex.align-items-center.text-success.text-gradient.text-sm.font-weight-bold.
                                + $ 750

                        li.list-group-item.border-0.d-flex.justify-content-between.ps-0.mb-2.border-radius-lg
                            .d-flex.align-items-center
                                button.btn.btn-icon-only.btn-rounded.btn-outline-success.mb-0.me-3.p-3.btn-sm.d-flex.align-items-center.justify-content-center
                                    i.material-icons.text-lg expand_less
                                .d-flex.flex-column
                                    h6.mb-1.text-dark.text-sm HubSpot
                                    span.text-xs 26 March 2020, at 12:30 PM
                            .d-flex.align-items-center.text-success.text-gradient.text-sm.font-weight-bold.
                                + $ 1,000

                        li.list-group-item.border-0.d-flex.justify-content-between.ps-0.mb-2.border-radius-lg
                            .d-flex.align-items-center
                                button.btn.btn-icon-only.btn-rounded.btn-outline-success.mb-0.me-3.p-3.btn-sm.d-flex.align-items-center.justify-content-center
                                    i.material-icons.text-lg expand_less
                                .d-flex.flex-column
                                    h6.mb-1.text-dark.text-sm Creative Tim
                                    span.text-xs 26 March 2020, at 08:30 AM
                            .d-flex.align-items-center.text-success.text-gradient.text-sm.font-weight-bold.
                                + $ 2,500

                        li.list-group-item.border-0.d-flex.justify-content-between.ps-0.mb-2.border-radius-lg
                            .d-flex.align-items-center
                                button.btn.btn-icon-only.btn-rounded.btn-outline-dark.mb-0.me-3.p-3.btn-sm.d-flex.align-items-center.justify-content-center
                                    i.material-icons.text-lg priority_high
                                .d-flex.flex-column
                                    h6.mb-1.text-dark.text-sm Webflow
                                    span.text-xs 26 March 2020, at 05:00 AM
                            .d-flex.align-items-center.text-dark.text-sm.font-weight-bold.
                                Pending
